@font-face {
    font-family: "ArchitectsDaughter";
    src: url(../font/ArchitectsDaughter.ttf) format("truetype");
}

body {
    background-image: url("../img/background.png");
    background-repeat: repeat;
    font-size: 26pt;
}

.button {
    background: rgb(167, 188, 219);
    padding: 10px 16px;
    border: none;
    border-radius: 5px;
    min-width: 100px;
    min-height: 40px;
    color: #454545;;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    font-size: 20pt;
    margin: 20px 10px;
}

.button:hover, .button:focus {
    background: rgb(114, 156, 219);
    color: white;
}

.white-color {
    color: #ffffff;
}

.center {
    margin: auto;
    width: 70%;
    text-align: center;
}

.font-cursive {
    font-family: 'ArchitectsDaughter', cursive;
}

.text-centered {
    text-align: center
}
