body {
    background-image: url("../img/background.png");
    background-repeat: repeat;
}

/*@media only screen and (min-width: 1200px) {
    body {
        background-position: top;
    }
}


@media only screen and (max-width: 1199px) {
    body {
        background-position: right;
    }
}*/

.header-button {
    width: 33%;
}

.font-cursive {
    font-family: 'Bradley Hand', cursive;
}

.center {
    width: 50%;
    padding: 10px;
    margin: auto auto 20px;
}

.text-centered {
    text-align: center
}
